[submodule "repos/meta-mender"]
	path = repos/meta-mender
	url = https://github.com/mendersoftware/meta-mender.git
	branch = dunfell
[submodule "repos/meta-mender-community"]
	path = repos/meta-mender-community
	url = https://github.com/mendersoftware/meta-mender-community.git
	branch = dunfell
